# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


# api keys


# misc
.DS_Store
yarn-debug.log*
yarn-error.log*
/future.tsx