.create_post {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #242526;
  width: 480px;
  border: 0.5px solid #2f3031;
  border-radius: 10px;
  z-index: 2;
  position: fixed;
  right: 0;
  left: 0;
  top:30rem;
}

@media (max-width: 780px) {
  .create_post{
      width:98vw;
      /* height: 110vw; */
      position: absolute;
      /* margin-right: auto; */

      /* min-width: 57rem; */
  }
}

.create_post > form {
  flex-basis: 360px;
  flex-grow: 1.3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* 
.create_post > form > input {
  height: 100%;
  width: 90%;
  padding-top: 3px;
  border: none;
  color: #8a8d91;
  display: flex;
} */

.create_post > form :focus {
  outline: none;
}

.create_post__button {
  width: 56rem;
  height: 40px;
  margin: 2rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.create_post__button > button {
  border: none;
  flex: 1;
  font-family: "Segoe UI";
  font-weight: 650;
  font-size: 16px;
  border-radius: 6px;
}

@media (max-width: 780px) {
.create_post__button {
width: 94vw;
}
}

.button_overlay {
  opacity: 0;
  position: absolute;
  border-radius: 6px;
  width: 56rem;
  height: 38.5px;
  background-color: white;
  cursor: pointer;
}

.button_overlay:hover {
  cursor: pointer;
  display: auto;
  /* border: solid red; */
  /* z-index: 2; */
  opacity: 0.1;
  background-color: red solid;
}

.create_post__input_box > input {
  background-color: transparent;
  border: none;
  /* font-size: 26px; */
  font-family: "Segoe UI";
  width: 100%;
  color: #e4e6eb;
  padding: 2rem;
}
.create_post__input_box {
  margin-top: 4rem;
  
  display: flex;
  padding-bottom: 1rem;
  align-items: right;
  width: 100%;
  height: 80%;
  color: transparent;
}

.create_post__input_box > input:focus::placeholder {
  color: #8a8d91;
}

.create_post__input_box > input::placeholder {
  color: #b0b3b8;
}

.create_post__top {
  height: 10%;
  color: white;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 0.5px solid #2f3031;
  align-items: center;
  display: flex;
}

.create_post__top > span {
  /* flex: 50%; */
  margin: auto;
  font-size: 3.5em;
  color: #e4e6eb;
  font-family: "Segoe UI";
  /* font-family: "frutiger"; */

  font-weight: 600;
}
.exit_window {
  transform: translateX(-1rem);
  position: absolute;
  border-radius: 50%;
  border: 20px;
  height: 3em;
  width: 3em;
  background-color: #353535;
  cursor: pointer;
}
.exit_window_overlay {
  transform: translateX(-1rem);
  border: none;
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: white;
}

.exit_window_overlay:hover {
  opacity: 0.2;
  transform: translateX(-1rem);
  cursor: pointer;
  border: none;
  position: absolute;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: white;
}
.exit_window_symbol {
  transform: translate(0.6px, -2.5px);
}
.exit_window_symbol:after {
  font-size: 40px;
  color: #a8abaf;
  font-weight: 50;
  content: "\00d7"; /* render 'X' */
}

.create_post__add_image {
  flex: end;
  margin: auto;
  width: 92.6%;
  outline: #2F3031 solid 0.5px;
  border: #242526 solid 8px;
  padding: 5px #242526;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #323436;
  height: 25rem;
  margin-top: 0.5rem;
}
.create_post__add_image > label {
  font-family: "Segoe UI";
  font-weight: 650;
  width: 100%;
  line-height: 25.5rem;
  height: 100%;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.create_post__add_image:hover {
  background-color: #3d4144;
}

.create_post__add_image > label > input {
  display: none;
}

.create_post__new_images {
  width: 100%;
  border: white solid;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.create_post__new_images > img {
  flex-grow: 0;
  height: 120px;

  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.create_post__images {
  padding-left: 2px;
  overflow: scroll;
  height: 350px;
  border-radius: 10px 10px 0 0;
  margin: 1rem;
  padding: 1rem 0 0 1rem;
  border: #353535 solid 1px;
  border-bottom: none;
}

@media (max-width: 780px) {
.create_post__images {
height: 60vw;
}
}

.create_post__images::-webkit-scrollbar {
  width: 1em;
}

.create_post__images::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #2d2d2f;
}

.create_post__images::-webkit-scrollbar-thumb {
  background-color: #6b6c6e;
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

.create_post__images > label {
  font-family: "Segoe UI";
  font-weight: 650;
  position: absolute;
  border: none;
  left: 3rem;
  transform: translateY(45%);
  color: white;
  opacity: 0.75;
  border-radius: 10px;
  background-color: #242526;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  font-size: 18px;
}
.create_post__images > label:hover {
  opacity: 1;
}
.create_post__images > label > input {
  display: none;
}

.exit_images_window {
  position: absolute;
  right: 7rem;
  top: 22.8rem;
  transform: scale(0.8);
}

.create_post__add_image_button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 10px;
}

.create_post__add_image_button > button {
  transform: scale(2.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-radius: 50px;
  border: none;
}

.create_post__add_image_button > button:hover {
  background-color: #5d5d5d;
}
.create_post__add_image_button_clicked {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 10px;
}

.create_post__add_image_button_clicked > button {
  transform: scale(2.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
  color: white;
  background-color: #5d5d5d;
  border-radius: 50px;
  border: none;
}
