 .header {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  background-color: #242526;
  display: flex;
  position: sticky;
  top:0;
  z-index: 2;
  border-bottom: 1px solid #393A3B;
  width: 100vw;
}

.header__left {
  margin-left:3rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 9rem;
}

@media (max-width: 1280px) {
  .header__left {
    margin-left:3rem;
    /* border: red solid; */
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 9rem;
  }
}

.header__right > img{
  width: 35rem;
  cursor: not-allowed;
  object-fit: cover ;
}

.header__right{
  margin-right: 3rem;
}

@media (max-width: 780px) {
  .header__right{
     display: none;
  }
}

.search-box-container{
  cursor: not-allowed;
  display: flex; 
}

#logo{
  transform: translateY(0.6em);
  width: 4.40em;
  height: 4.20em;
}

#logo path{
  fill: white;
}

.facebook-logo{
  cursor: pointer;
  z-index: 3;
  flex: 0 0 5.3rem;
  margin-right: 1.0rem;
  overflow: hidden;
  width: 5.3rem ;
  height: 5.3rem;
  display:flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#36b5ff, #0166E2);
}

