.post {
  background-color: #242526;
  width: 86.75rem;
  /* height: 30.25rem; */
  border-radius: 10px;
  flex: 0 0 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0rem;
}

@media (max-width: 780px) {
  .post {
    width: 89.5vw;
    min-width: 60.7rem;
  }
}

.post__top {
  padding: 0 2rem;
  display: flex;
  width: 100%;
  align-items: center;
}

.post__topInfo {
  align-content: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  height: 100%;
}
.post__top > img {
  max-height: 100%;
  height: 6.3rem;
  margin-right: 1rem;
}

.post__username {
  font-weight: 500;
  color: #e4e6eb;
  font-size: 2.3rem;
  border: transparent solid 0.1rem;
  text-align: left;
  width: 100%;
  letter-spacing: -0.1px;
  line-height: 1rem;
  height: 1.5rem;
}

.post__date {
  color: #b0b3b8;
  font-size: 2rem;
  letter-spacing: -0.3px;
  border: transparent solid 0.1rem;
  text-align: left;
  width: 100%;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
}

.public_icon {
  position: relative;
  transform: translate(0.34rem, 0.17rem);
}

.post_text {
  padding: 1rem 2rem;
  overflow-wrap: break-word;
  font-size: 28px;
  border-bottom: #3a3b3c 1px solid;
  text-align: left;
}

.tooltip_container {
  display: inline-block;
  cursor: pointer;
}

@keyframes appearance {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
    opacity: 0.4;
  }
  100% {
    visibility: visible;
    opacity: 0.8;
  }
}

.tooltip_container:hover .tooltip {
  animation-name: appearance;
  animation-duration: 0.8s;
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  color: black;
  background-color: white;
  opacity: 0.8;
  padding: 1.8rem;
  margin-left: -17rem;
}

.tooltip:hover {
  cursor: default;
}

.post_bottom {
  height: 3rem;
}
