.container{
  display: flex;
  flex: 1 0 5.5rem;
  width: 15.5vw;
  height: 5.5rem;
  border-radius: 10rem / 10rem;
  background-color: #3A3B3C;
  align-items: center;
  justify-items: left;
  overflow: hidden;
}

@keyframes fade {
  from {width: 15.5vw;}
  to {width: 5.5rem;}
}
@media (max-width: 1080px) {
  .container{
    animation-name: fade;
    animation-duration: 0.23s;
    display: flex;
    /* flex: 1 0 1.5rem; */
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 10rem / 10rem;
    background-color: #3A3B3C;
    align-items: center;
    justify-items: left;
    overflow: hidden;
  }
  #inputSearch{
    display: none;
  }
}

.search-icon{
  flex: 0;
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(1.58rem) rotate(45deg);
}

.search-icon-circle{
  /* background: #3A3B3C; */
  width: 11px;
  height: 11px;
  display:flex;
  flex: 0 0 11px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50%;
  border: 0.3rem solid;
  border-color: #B0B3B8;
}

.stick{
  transform: rotate(90deg);
  justify-content: center;
  align-items: center;
}

.trapeze{
  border-top: 1em solid #B0B3B8;
  border-left: 0.2em solid transparent;
  border-right: 0.2em solid transparent;
  height: 0.13em;
  /* width: 0.273em; */
}

.stick-circle{
  position: absolute;
  transform: translateY(-0.3rem);
  top: 0.13rem;
  width: 0.43rem;
  height: 0.43rem;
  border-radius: 50%;
  background: #B0B3B8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.decoration{
  flex: 0.2; 
  width: 0.01rem;
  height: 0.06rem;
  background: #3A3B3C;
  transform: translateX(0.008rem);
}

#inputSearch{
  padding-left: 3rem;
  padding-bottom: 5px;
  background-color: transparent;
  border-color: transparent;
  border: 0rem;
  outline: 0rem;
  width: 13vw;
  height: 8rem;
  font-size: 2.2rem;
  font-weight: 500;
  cursor: not-allowed;
  font-family: 'Segoe UI';
}
