.App {
  text-align: center;
  background-color: #18191A;
  height: 100vh;
  width: 100vw;
}

.Container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.Feed {
  background-color: #242526;
  margin: 0 1.5rem;
  flex: 0.6;
}

.Sidebar {
  flex:0.2;
  background-color: #db2882;
}

.Contacts {
  flex: 0.2;
  background-color: #48bd3e;
}

.Header {
  background-color: #242526;
  display: flex;
  color: red;
  border-style: solid;
}

