.App {
  text-align: center;
  background-color: #18191A;
  height: 10000rem;
  width: 100vw;
  
}

.Container {
  display: flex;
  justify-content: space-evenly;
  height: 1000vh;
  /* border: solid green; */
  overflow:hidden;
}

.Feed {
  background-color: #18191A;
  /* border: solid red; */
  margin: 0 1.5rem;
  flex: 1.1 0 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Sidebar {
  flex:0.175;
  /* background-color: #220c17; */
}

.Contacts {
  flex: 0.175;
  /* border: solid yellow; */
  /* background-color: #0b2009; */
}

.Header {

  /* color: red; */
  /* border-style: solid; */
}

.create_post_container{
  width: 480px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: purple solid; */
}


.opacity-solid {
  z-index: 0;
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  top: 0;

}

body {
  color: #B0B3B8;
}