 .header {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

.header__left {
  /* flex: 0.2; */
  align-items: center;
  border-style: solid;
  border-color: greenyellow;
  display: flex;
  flex-direction: row;
  /* width: 20rem; */
  width: 20vw;
  height: 9rem;
}

.header__middle{
  flex: 0.1;
  border-style:groove;
  border-color: rgb(213, 47, 255);
  width: 10rem;
  height: 9rem;
}

.header__right{
  flex: 0.2;
  width: 20rem;
  height: 9rem;
}

.search-box-container{
  display: flex; 
  /* width: 1rem; */
  /* flex: 0;
  width: 0; */
}

#icon{
  transform: translate(0.8em, 0.6em);
  width: 4.40em;
  height: 4.20em;
}

#icon path{
  fill: white;
}

.facebook-icon{
  flex: 0 0 5.3rem;
  margin-right: 1.0rem;
  overflow: hidden;
  width: 5.3rem ;
  height: 5.3rem;
  display:flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#36b5ff, #0166E2);
}
