.container{
  display: flex;
  /* position: relative; */
  flex: 1 0 5.5rem;
  /* width: 5.5rem; */
  width: 15.5vw;
  height: 5.5rem;

  /* border-radius: 10rem / 10rem; */
  border-radius: 10vw / 10vw;
  background-color: #3A3B3C;
  align-items: center;
  justify-items: left;
  /* padding-left: 0.4rem; */
  overflow: hidden;
}


.search-icon{
  flex: 0;
  width: 5rem;
  height: 2rem;
  display: flex;
  /* border: solid red; */
  align-items: center;
  justify-content: center;
  /* padding-left: 1rem; */
  /* transform: translateX(-1rem) !important; */
  transform: translateX(1.58rem) rotate(45deg);
  /* border-radius: 50%; */
}

.search-logo-circle{
  background: #3A3B3C;
  width: 1.5rem !important;
  height: 1.5rem !important;
  display:flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  border-radius: 50% !important;
  border: 0.3rem solid;
  border-color: #B0B3B8;
}

.stick{
  /* flex: 1; */
  /* height: 1.17rem;
  width: 0.80rem; */
  /* background-color: black; */
  /* border: solid red; */
  transform: rotate(90deg) !important;
  /* position: absolute; */
  /* left: 5.21rem !important; */
  /* top: 4.77rem !important; */
  /* display: flex !important; */
  justify-content: center !important;
  align-items: center !important;
  /* flex-direction:column; */
  font-size: 1rem;
}

.trapeze{
  /* background-color: aqua; */
  /* border-radius: 50%  / 40% 40% 15% 15%; */
  /* border-radius: 50%  / 40% 40% 15% 15%; */
  border-top: 1em solid #B0B3B8 !important;
  border-left: 0.080em solid transparent !important;
  border-right: 0.080em solid transparent !important;
  height: 0.13em;
  width: 0.273em !important;
  /* position: absolute; */
  /* z-index: -1; */
}

.stick-circle{
  position: absolute;
  z-index: 2;
  transform: translateY(-0.3rem);
  /* flex: 0 0 0.4rem !important; */
  top: 0.13rem;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background: #B0B3B8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.decoration{
  flex: 0.2; 
  width: 0.01rem !important;
  height: 0.06rem !important;
  border-radius: 0 0 100% 0;
  background: #3A3B3C;
  transform: translateX(0.008rem);
}
 
.decoration2{
  flex: 0.2; 
  width: 0.01rem !important;
  height: 0.06rem !important;
  border-radius: 0 0 0 100%;
  transform: translateX(-0.008rem);
  background: #3A3B3C;
  }
  .inputSearch{
    display: flex;
    /* width: 20rem; */
    /* padding-left: 3rem; */
    width: 2rem;
  }
  #inputSearch{
    /* flex: 1; */
    /* flex-shrink: 0; */
    padding-left: 2.8rem;
    background-color: transparent;
    border-color: transparent;
    border: 0rem;
    /* padding-left: 1.2rem; */
    outline: 0rem;
    width: 13vw;
    height: 8rem;
    font-size: 2rem;
    /* flex:20rem; */
    /* position:absolute; */
    /* flex: -0.5rem; */
    /* transform: translateX(-5rem); */
    /* border-radius: 10% 0 0 10% ; */
  }